export default {
    baseUrl: 'https://trello.com/login',
    accounts: [
        {
            user: 'user1',
            username: '',
            password: ''
        },
        {
            user: 'user2',
            username: '',
            password: ''
        }
    ]
}
